@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --nunito: "Nunito Sans", sans-serif;
    --Dark-Blue: hsl(209, 23%, 22%);
    --Very-Dark-Blue-dm: hsl(207, 26%, 17%);
    --Very-Dark-Blue: hsl(200, 15%, 8%);
    --White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--Very-Dark-Blue-dm);
}

* {
    font-family: var(--nunito);
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid hsl(200, 13%, 15%);
    color: var(--White);
    background-color: var(--Dark-Blue);
}

#header h2 {
    margin: 0px 0px 0px 20px;
}

#theme-switch-button {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 19px 20px 19px 0;
    border: none;
    background: none;
    font-weight: bold;
    cursor: pointer;
    color: var(--White);
}

#header a {
    text-decoration: none;
    cursor:default;
}

#theme-switch-button svg {
    margin-right: 5px;
}

#main-menu {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    position: relative;
}

#main-menu input {
    padding: 10px 5px 10px 25px;
    width: 280px;
    font-weight: bold;
    color: var(--White);
    border: none;
    border-radius: 0.25rem;
    border: 1px solid  hsl(220, 26%, 17%);
    background-color: var(--Dark-Blue);

}

#main-menu input::placeholder {
    color:var(--White);
}

#main-menu input[type="search"]::-webkit-search-decoration,
#main-menu input[type="search"]::-webkit-search-cancel-button,
#main-menu input[type="search"]::-webkit-search-results-button,
#main-menu input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

#input-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    fill: white;
}

#depButton {
    display: flex;
    color: var(--White);
    background-color: var(--Dark-Blue);
    align-items: center;
    font-weight: bold;
    border: 1px solid var(--Very-Dark-Blue);
    border-radius: 3px;
    height: 40px;
}

#depButton svg {
    width: 20px;
    margin: 6px 0px 0px 5px
}

#navigator {
    width: 140px;
}

#navigator ul{
    list-style: none;
    border: 1px solid var(--Very-Dark-Blue);
    border-radius: 3px;
    padding: 0;
    display: none;
    flex-direction: column;
    background-color: var(--Dark-Blue);
    position: absolute;
    width: 135px;
}

#navigator ul a {
    text-decoration: none;
    color: var(--White);
    font-weight:400;
}

#navigator ul li {
    margin-left: 6px;
}

#navigator ul li a:hover {
    color: rgb(151, 151, 151);
    width: 100%;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--Very-Dark-Blue-dm);
}

.country {
    width: 18%;
    height: 100%;
    margin: 10px;
    border-radius: 0.25rem;
    border: 1px solid var(--Dark-Blue);
    text-decoration: none;
    color: var(--White);
    background-color: var(--Dark-Blue);
}

.country:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
}
.country:not(:hover) {
    transition: all 0.5s;
}

.country img {
    width: 100%;
    border-radius: 0.25rem;
    margin-bottom: 25px;
}

#buttonDiv {
    display: flex;
    width: 100%;
    margin: 25px;
}

#backButton {
    display: flex;
    width: 110px;
    height: 35px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px var(--Very-Dark-Blue);
    background-color: var(--Dark-Blue);
    color: var(--White);
}
#backButton svg {
    width: 15px;
    margin-right: 5px;
}
#mainBox {
    display: flex;
    width: 100%;
    margin: 25px;
}

#imgDiv img {
    width: 100%;
    border: 15px solid hsl(220, 26%, 17%);
    border-radius: 10px;
}

#textDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 50px;
}

#infoDiv {
    display: flex;
    margin-top: 20px;
}

#countName {
    margin: 0 25px 20px 20px;
    color: var(--White);
}

#infoDiv p {
    font-weight: bold;
    width: 100%;
    margin: 10px;
    color: var(--White);
}

#innerText1, #innerText2 {
    margin: 0 16px 0 16px;
}

.countName {
    font-weight: bold;
    color: var(--White);
    margin: 0px 7px 10px 7px;
}

.countPop {
    color: var(--White);
    margin: 0px 7px 0px 7px;
}

.countRegion {
    color: var(--White);
    margin: 0px 7px 0px 7px;
}

.countCap {
    color: var(----White);
    margin-bottom: 30px;
    margin: 0px 7px 10px 7px;
    word-wrap: break-word;
}

/*responsive*/ 

@media screen and (max-width: 775px) {
    #header h2{
        width: 60%;
    }
    #content {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .country {
        width: 70%;
    }
    #mainBox {
        flex-direction: column;
    }
    #imgDiv {
        width: 80%;
    }
    #textDiv {
        font-size: small;
    }
    #infoDiv {
        flex-direction: column;
    }
}

@media screen and (max-width: 510px) {
    #header h2 {
        font-size: medium;
    }
    #navigator {
        width: auto;
        height: 20px;
    }
    #mainBox {
        flex-direction: column;
    }
    #imgDiv {
        width: 80%;
    }
    #textDiv {
        margin-left: 5px;
    }
    #infoDiv {
        flex-direction: column;
    }
    #main-menu {
        flex-direction: column;
    }
    #main-menu input {
        margin: 10px;
        padding: 10px 5px 10px 30px;
        width: 80%;
    }
    #input-icon {
        top: 55px;
        left: 43px;
    }
    #main-menu nav {
        margin: 10px;
    }
    #depButton {
        justify-content: center;
        width: 40px;
        height: 40px;
    }
    #depButton svg {
        margin-right: 5px;
    }
    #depButton p {
        display: none;
    }
}